@font-face {
  font-family: "DroidSans";
  src: url('../fonts/Droid-Sans/droidsans.eot');
  src: url('../fonts/Droid-Sans/droidsans.eot?#iefix') format('embedded-opentype'), url('../fonts/Droid-Sans/droidsans.woff') format('woff'), url('../fonts/Droid-Sans/DroidSans.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: "DroidSansBold";
  src: url('../fonts/Droid-Sans/droidsans-bold.eot');
  src: url('../fonts/Droid-Sans/droidsans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Droid-Sans/droidsans-bold.woff') format('woff'), url('../fonts/Droid-Sans/DroidSans-Bold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: "CamptonLight";
  src: url('../fonts/Campton/CamptonLightDEMO.eot');
  src: url('../fonts/Campton/CamptonLightDEMO.eot?#iefix') format('embedded-opentype'), url('../fonts/Campton/CamptonLightDEMO.woff') format('woff'), url('../fonts/Campton/CamptonLightDEMO.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: "CamptonBold";
  src: url('../fonts/Campton/CamptonBoldDEMO.eot');
  src: url('../fonts/Campton/CamptonBoldDEMO.eot?#iefix') format('embedded-opentype'), url('../fonts/Campton/CamptonBoldDEMO.woff') format('woff'), url('../fonts/Campton/CamptonBoldDEMO.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: "LatoRegular";
  src: url('../fonts/lato/lato-regular.eot');
  src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: "LatoBold";
  src: url('../fonts/lato/Lato-Bold.eot');
  src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/Lato-Bold.woff') format('woff'), url('../fonts/lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: "Yellowtail";
  src: url('../fonts/yellowtail/Yellowtail-Regular.eot');
  src: url('../fonts/yellowtail/Yellowtail-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/yellowtail/Yellowtail-Regular.woff') format('woff'), url('../fonts/yellowtail/Yellowtail-Regular.ttf') format('truetype');
  font-style: normal;
}
