/* Global Styles */
@import "../css/fonts.css";

@imgPath: "../images";
@fontPath: "../fonts";

@body-bg: #ffffff;
@themeColor: #ff4d4e; //All red backgrounds and texts

@text-color-white: @body-bg;
@text-color-grey: #807f85; //All grey texts
@text-color-blue: #428bca; //Some hovered links
@text-color-red: @themeColor;

@font-base: "DroidSans";
@font-base-bold: "DroidSansBold";
@font-headings: "CamptonLight";
@font-headings-bold: "CamptonBold";
@font-subheadings: "LatoRegular";
@font-subheadings-bold: "LatoBold";
@font-custom: "Yellowtail";

@font-size-base: 14pt;
@line-height-base: (@font-size-base*1.5);

html {
  font-size: 10pt;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
   font-family: @font-base;
   font-size: @font-size-base;
   line-height: @line-height-base !important;
   color: @text-color-grey;
   background-color: @body-bg;
}

/* +++ TYPOGRAPHY */

h1, .h1 {
  position: relative;
  display: block;
  font-size: (@font-size-base*4);
  font-family: @font-headings-bold;
  font-weight: normal;
  line-height: (@line-height-base*2.2);
  color: @text-color-white;
}

h2, .h2 {
  margin: 0;
  font-family: @font-headings-bold;
  font-size: (@font-size-base*3);
  line-height: normal;
  text-transform: uppercase;
  color: @text-color-white;
}

h3, .h3 {
  position: relative;
  display: block;
  margin: 0;
  font-size: (@font-size-base*1.5);
  font-family: @font-subheadings;
  font-weight: normal;
  line-height: (@line-height-base*1.7);
  color: @text-color-white;
  text-align: center;
  text-transform: uppercase;

}

.title-gray {
  margin-bottom: 25px;
  font-size: (@font-size-base*2.5);
  line-height: (@line-height-base*2.5);
  font-family: @font-subheadings;
  color: #757377;
  opacity: 0.7;
}

.sub-title {
  font-size: @font-size-base;
  color: @text-color-red;
  margin-bottom: 15px;
  font-family: @font-base-bold;
}

p {
  font-family: @font-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color-white;
  margin-bottom: @font-size-base;
}

.text {
  font-family: @font-base;
  font-size: (@font-size-base - 1);
  line-height: (@line-height-base - 3);
  color: @text-color-grey;
  margin-bottom: (@font-size-base - 1);

  a {
    color: @text-color-red;
    text-decoration: underline;
    font-family: inherit;

    &:hover,
    &:focus {
      color: @text-color-blue;
      text-decoration: underline;
    }
  }
}

a {
  color: @text-color-grey;
  text-decoration: underline;
  font-family: @font-base;

  &:hover,
  &:focus {
    color: @text-color-red;
    text-decoration: underline;
  }
}

/* --- TYPOGRAPHY */

.border:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 22px;
  left: 0;
  bottom: -22px;
  z-index: 10;
  background: url("@{imgPath}/border.svg") center top repeat-x;
}

.cutout-border, .border {
  position: relative;
  padding: 25px 0 10px 0;
}

.cutout-border:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 22px;
  left: 0;
  bottom: -22px;
  z-index: 10;
  background: url("@{imgPath}/cutout-border.png") center top no-repeat;
}

.screen-icon {
  position: relative;
  display: block;
  margin: 30px 0 0 -24px;
  width: 48px;
  height: 48px;
  left: 50%;
}
.icon-gear {
  z-index: 11;
  background: url("@{imgPath}/screen3/Gear.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.icon-camera {
  z-index: 11;
  background: url("@{imgPath}/screen4/Camera.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.icon-chart {
  z-index: 11;
  background: url("@{imgPath}/screen5/Chart.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}



.icon-form {
  z-index: 11;
  background: url("@{imgPath}/screen7/Form.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.page-wrapper {
  display: block;
}

/* +++ HEADER BLOCK */

.header-top {
  width: 100%;
}

.header_backgr {
  position: relative;
  background-position: center top;
  height: 848px;
  width: 100%;
  background-image: url("@{imgPath}/screen1/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .block_logo {
    position: relative;
    display: inline-block;
    margin: 5.42% 0 0 14.23%;
   }
 }

 .social {
   position: relative;
   display: inline-block;
   margin: 5.42% 14% 0 0;
  ul {
    display: block;
    list-style: none;
    cursor: default;
    min-width: 220px;
    li {
      display: inline-block;
    }
  }

  .twitter_main {
    display: inline-block;
    width: 20px;
    height: 19px;
    margin: 0 10px;
    background-image: url("@{imgPath}/Social/Social_main_twitter.svg");
    background-position: right;
    background-repeat: no-repeat;
  }
  .twitter_main:hover {
    background-position: left;
  }

  .fb_main {
    display: inline-block;
    width: 10px;
    height: 19px;
    margin: 0 15px;
    background-image: url("@{imgPath}/Social/Social_main_facebook.svg");
    background-position: right;
    background-repeat: no-repeat;
  }
  .fb_main:hover {
    background-position: left;
  }

  .skype_main {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0 10px;
    background-image: url("@{imgPath}/Social/Social_main_skype.svg");
    background-position: right;
    background-repeat: no-repeat;
  }
  .skype_main:hover {
    background-position: left;
  }

  .vimeo_main {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0 10px;
    background-image: url("@{imgPath}/Social/Social__main_vimeo.svg");
    background-position: right;
    background-repeat: no-repeat;

      &:hover {
      background-position: left;
    }
  }
}

.title_text {
  position: relative;
  margin: 10% 0 0 21%;
  z-index: 5;
}

.video_button {
  position: relative;
  width: 410px;
  height: 235px;
  margin: 8% 0 0 21.5%;
  background: url("@{imgPath}/screen1/Arrow.svg") no-repeat 92.5% 33%;
  background-size: 25%;
  z-index: 5;
  p {
    width: 303px;
    margin-bottom: 12%;
    font-family: @font-custom;
    font-size: @font-size-base*1.6;
    color: @text-color-white;
    font-weight: 100;
  }
  a {
    display: inline-block;
    text-decoration: none;
    padding: 27px 85px;
    font-family: @font-base-bold;
    font-size: @font-size-base*1.3;
    color: @text-color-white;
    background: @themeColor;
    border: none;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    &hover {
      background: darken(@themeColor, 5%);
    }
  }
}


.phone-black {
  position: relative;
  right: 15%;
  top: 20px;
  max-width: 200px;
}

.phone-white {
  position: relative;
  right: 5%;
  top: 1px;
  max-width: 210px;
}

.marker {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 50px;
  cursor: pointer;
  z-index: 10;
}

.slideshow {
  right: -24%;
  top: -555px;
  background-image: url("@{imgPath}/screen1/Picture.svg");
}

.graph-chart {
  right: -66%;
  top: -570px;
  background-image: url("@{imgPath}/screen1/Chart.svg");
}

.camera {
  right: -22%;
  top: -400px;
  background-image: url("@{imgPath}/screen1/Camera.svg");
}

.settings {
  right: -66%;
  top: -430px;
  background-image: url("@{imgPath}/screen1/Gear.svg");
}

.description {
  position: absolute;
  display: none;
  width: 200%;
  left: -50%;
  top: 130%;
  text-align: center;
  opacity: 0;
  z-index: 200;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;

  .line1 {
    display: inline-block;
    color: @text-color-white;
    margin: auto;
    font-size: 20px;
    text-shadow: 1px 2px 4px rgba(0,0,0,.28);
    font-family: @font-subheadings-bold;
  }
  .line2 {
    display: inline-block;
    color: @text-color-white;
    margin: auto;
    font-size: 12px;
    text-shadow: 1px 2px 4px rgba(0,0,0,.28);
  }
}

.marker:hover .description{
  opacity: 1;
  display: block;
}

.marker:hover {
  background-color: @themeColor;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.marker:hover:after,
.marker:hover:before {
  position: absolute;
  border: solid 4px @themeColor;
  content: '';
  display: block;
  border-radius: 50px;
  -webkit-animation: pulse 1s linear 1s both;
  -moz-animation: pulse 1s linear 1s both;
  -o-animation: pulse 1s linear 1s both;
  -ms-animation: pulse 1s linear 1s both;
  animation: pulse 1s linear 1s both;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.marker:hover:after {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.marker:hover:before {
  -moz-animation-delay: 1.0s;
  -webkit-animation-delay: 1.0s;
  -ms-animation-delay: 1.0s;
  -o-animation-delay: 1.0s;
  animation-delay: 1.0s
}

@-webkit-keyframes pulse {
  0% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    border: solid 4px @themeColor;}
  1% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    border: solid 8px @themeColor;}
  100% {
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    border: solid 1px @themeColor;}
}
@-moz-keyframes pulse {
  0% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    border: solid 4px @themeColor;}
  1% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    border: solid 4px @themeColor;}
  100% {
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    border: solid 1px @themeColor;}
}
@-o-keyframes pulse {
  0% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    border: solid 4px @themeColor;}
  1% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    border: solid 4px @themeColor;}
  100% {
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    border: solid 1px @themeColor;}
}
@-ms-keyframes pulse {
  0% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    border: solid 4px @themeColor;}
  1% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    border: solid 4px @themeColor;}
  100% {
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    border: solid 1px @themeColor;}
}
@keyframes pulse {
  0% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    border: solid 4px @themeColor;}
  1% {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    border: solid 4px @themeColor;}
  100% {
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    opacity: 0;
    border: solid 1px @themeColor;}
}

/* --- HEADER BLOCK */

/* +++ SCREEN2 BLOCK */

.screen2 {
  position: relative;
  background-position: center top;
  height: 500px;
  width: 100%;
  background: @themeColor;
  padding: 50px 0 ;
}

.futures {

  div {
    margin-bottom: 50px;
  }

  p {
    margin: auto;
    text-align: center;
    font-size: (@font-size-base*0.7);
    line-height: (@line-height-base*0.6);
    color: lighten(@themeColor, 20%);
    max-width: 240px;
  }
}

.icon-screen2 {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.responsive {
  background-image: url("@{imgPath}/screen2/Responsive.svg");
}

.design {
  background-image: url("@{imgPath}/screen2/Design.svg");
}

.idea {
  background-image: url("@{imgPath}/screen2/Idea.svg");
}

.updates {
  background-image: url("@{imgPath}/screen2/Updates.svg");
}

.support {
  background-image: url("@{imgPath}/screen2/Support.svg");
}

.development {
  background-image: url("@{imgPath}/screen2/Development.svg");
}

/* --- SCREEN2 BLOCK */

/* +++ Right Nav */

.right-nav {
  //display: none;
  display: block;
  position: fixed;
  z-index: 3000;
  top: 50%;
  right: 0px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 10px;
  width: 55px;
  margin-top: -100px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px 0 0 15px;

  a {
    display: block;
    margin-bottom: 20px;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .home {
    width: 50%;
    height: 80px;
    margin-left: 8px;
    background-image: url("@{imgPath}/Sidebar/Home.svg");
    background-position: right;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-position: center;
    }
  }

  .settings {
    width: 28.73px;
    height: 30px;
    background-image: url("@{imgPath}/Sidebar/Gear.svg");
    background-position: right;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-position: center;
    }
  }

  .camera {
    width: 28.73px;
    height: 30px;
    background-image: url("@{imgPath}/Sidebar/Camera.svg");
    background-position: right;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-position: center;
    }
  }

  .chart {
    width: 28.73px;
    height: 30px;
    background-image: url("@{imgPath}/Sidebar/Chart.svg");
    background-position: right;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-position: center;
    }
  }

  .slideshow {
    width: 28.73px;
    height: 30px;
    background-image: url("@{imgPath}/Sidebar/Picture.svg");
    background-position: right;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-position: center;
    }
  }

  .mailing {
    width: 28.73px;
    height: 30px;
    background-image: url("@{imgPath}/Sidebar/Form.svg");
    background-position: right;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-position: center;
    }
  }

  .current {
    background-position: left;
  }

}

/* --- Right Nav */


/* +++ SCREEN3 BLOCK */

.screen3 {
  position: relative;
  background-position: center top;
  width: 100%;

  .carousel {
    margin: 5px 0;
    padding: 15px 0 125px 0;
    min-height: 620px;
    .item {
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      opacity: 0;
    }
    .active {
      opacity: 1;
    }
  }
}

.section-header {
  width: 100%;
  background: @themeColor;
}

.section-header p {
  margin: 0;
  color: lighten(@themeColor, 19.4%);
  font-size: (@font-size-base);
  line-height: (@line-height-base);
}

.img-container {
  position: relative;
  min-height: 520px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50px;
}

.phone1 {
  background-image: url("@{imgPath}/screen3/carousel/phone-one.png")
}

.magnifier1 {
  position: absolute;
  left: 25%;
  top: -7%;
  width: 120px;
  height: 120px;
  border: 9px solid @themeColor;
  border-radius: 50%;
  /*border-radius: 200px;*/
  background: @themeColor;
  p {
    position: relative;
    margin: 0;
    padding: 0 18px;
    min-width: 70px;
    line-height: 120px;
    z-index: 1;
    border-radius: 200px;
  }
  .slide1 {
    top: -10px;
    left: -7px;
    font-family: @font-subheadings-bold;
    font-size: (@font-size-base*2.5);
    color: @text-color-white;
    text-align: center;
  }
  .slide2 {
    width: 120px;
    padding: 0;
    top: -12px;
    left: -11.5px;
    background-image: url("@{imgPath}/screen3/fon.png");
  }
  .pointer {
    position: absolute;
    display: block;
    width: 63px;
    height: 113px;
    background: url("@{imgPath}/screen3/carousel/sl-pointer.png") no-repeat;
    left: 80px;
    bottom: -110px;
  }
}

.magnifier2 {
  position: absolute;
  left: 25%;
  top: -7%;
  width: 143px;
  height: 229px;
  /*border: 9px solid @themeColor;
  border-radius: 50%;
  border-radius: 200px;*/
  background: url("@{imgPath}/screen3/carousel/Retina-r.png") no-repeat;
}

.controls-slider1 {
  width: 100%;
}

.link-next {
  margin-left: 18px;
  font-size: 15px;
  color: @text-color-grey;
  text-decoration: none;
  line-height: 26px;
  font-family: @font-base-bold;

}

.icon-next {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  width: 73px;
  height: 26px;
  background: url("@{imgPath}/screen3/Next.svg") center center;
  background-position: right;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-position: left;

  }
}

/// Carousel animation

.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
}
.carousel.carousel-fade .active.item {
  opacity:1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

#settings .carousel-inner .item .moveRight,
#settings .carousel-inner .item .moveLeft {
  opacity: 0;
}

.animate .carousel-inner .item .moveRight,
.touchDevice .carousel-inner .item .moveRight{
  -webkit-animation: moveRight 1s linear 1s both;
  -moz-animation: moveRight 1s linear 1s both;
  -o-animation: moveRight 1s linear 1s both;
  -ms-animation: moveRight 1s linear 1s both;
  animation: moveRight 1s linear 1s both;
}
.animate .carousel-inner .item .moveLeft,
.touchDevice .carousel-inner .item .moveLeft{
  -webkit-animation: moveLeft 1s linear 1s both;
  -moz-animation: moveLeft 1s linear 1s both;
  -o-animation: moveLeft 1s linear 1s both;
  -ms-animation: moveLeft 1s linear 1s both;
  animation: moveLeft 1s linear 1s both;
}
@-webkit-keyframes moveRight{
  0% {-webkit-transform: translateX(40px); opacity: 0;}
  100% {-webkit-transform: translateX(0px); opacity: 1;}
}
@-moz-keyframes moveRight{
  0% {-moz-transform: translateX(40px); opacity: 0;}
  100% {-moz-transform: translateX(0px); opacity: 1;}
}
@-o-keyframes moveRight{
  0% {-o-transform: translateX(40px); opacity: 0;}
  100% {-o-transform: translateX(0px); opacity: 1;}
}
@-ms-keyframes moveRight{
  0% {-ms-transform: translateX(40px); opacity: 0;}
  100% {-ms-transform: translateX(0px); opacity: 1;}
}
@keyframes moveRight{
  0% {transform: translateX(40px); opacity: 0;}
  100% {transform: translateX(0px); opacity: 1;}
}

@-webkit-keyframes moveLeft{
  0% {-webkit-transform: translateX(-40px); opacity: 0;}
  100% {-webkit-transform: translateX(0px); opacity: 1;}
}
@-moz-keyframes moveLeft{
  0% {-moz-transform: translateX(-40px); opacity: 0;}
  100% {-moz-transform: translateX(0px); opacity: 1;}
}
@-o-keyframes moveLeft{
  0% {-o-transform: translateX(-40px); opacity: 0;}
  100% {-o-transform: translateX(0px); opacity: 1;}
}
@-ms-keyframes moveLeft{
  0% {-ms-transform: translateX(-40px); opacity: 0;}
  100% {-ms-transform: translateX(0px); opacity: 1;}
}
@keyframes moveLeft{
  0% {transform: translateX(-40px); opacity: 0;}
  100% {transform: translateX(0px); opacity: 1;}
}

.item, .active, .carousel-inner {
  height: 100%;
}





